In [89]:
#Import all required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Questions we are answering:
1. Create basic summary table (Done)
2. Which month has the highest revenue? (Done)
3. Which day has the highest revenue? (Done)
4. Is revenue higher on weekdays or weekends?
5. What are the top selling products?
6. Correlation between Location and Payment Method? (Optional) -- We will drop all NA and look at the analysis
-- Above and Beyond --
7. Create a column for "Weekend vs Weekday" based on Transaction Date.
8. Create a "High Value Transaction" flag for sales over a certain threshold.
9. Create a "Sales Category" (e.g., small orders vs large orders based on quantity).

In [90]:
df = pd.read_csv('/Users/kabbo/Desktop/marcy/Project 2 Cafe Sales/M1-FINAL-PROJECT-THIERNO_KABBO/data/cleaned/cleaned_cafe_sales.csv')
pd.set_option("display.max_rows",500)
pd.set_option("display.max_columns",500)

In [91]:
#1. Create basic summary table (Done)

# Get summary statistics for numerical columns
print("Summary statistics:")
df.describe()
print(df.describe(include=object))

Summary statistics:
       Transaction ID   Item  Payment Method  Location Transaction Date
count            9540   9540            6525      5761             9540
unique           9540      9               3         2              365
top       TXN_1961373  Juice  Digital Wallet  Takeaway       2023-02-06
freq                1   1124            2197      2889               40

In [92]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,NaN,NaN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [93]:
#2. Which month has the highest revenue? (Done)

df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

# Extract time components
df['year'] = df['Transaction Date'].dt.year
df['month'] = df['Transaction Date'].dt.month

# Monthly sales trends
monthly_sales = df.groupby('month')['Total Spent'].agg('sum').reset_index()
monthly_sales.columns = ['month', 'Total Spent']

monthly_sales_sorted = monthly_sales.sort_values('Total Spent', ascending=False)
print(monthly_sales_sorted)

    month  Total Spent
5       6  7411.147988
9      10  7345.297401
0       1  7250.997782
11     12  7213.147354
2       3  7208.147671
3       4  7188.948558
7       8  7095.098130
10     11  7014.698004
4       5  6971.397750
6       7  6921.598130
8       9  6880.148146
1       2  6667.198162

In [94]:
#3. Which day has the highest revenue? (Done)

df['day_of_week'] = df['Transaction Date'].dt.day_name()

# Daily sales trends
daily_sales = df.groupby('day_of_week')['Total Spent'].agg('sum').reset_index()
daily_sales.columns = ['day_of_week', 'Total Spent']

#print(daily_sales)
daily_sales_sorted = daily_sales.sort_values('Total Spent', ascending=False)
print(daily_sales_sorted)

  day_of_week   Total Spent
3      Sunday  12420.646403
4    Thursday  12382.646403
0      Friday  12335.645928
1      Monday  12192.896641
5     Tuesday  12031.347100
2    Saturday  12029.796609
6   Wednesday  11774.845991

In [ ]:
df.head()
thierno =df.groupby(["Item","Transaction Date"])['Total Spent'].sum().reset_index()
thierno.head(20)
thierno['Total Spent']

    Item Transaction Date  Total Spent
0   Cake       2023-01-01    30.000000
1   Cake       2023-01-02    21.000000
2   Cake       2023-01-03    54.000000
3   Cake       2023-01-04    12.000000
4   Cake       2023-01-05    27.000000
5   Cake       2023-01-06    12.000000
6   Cake       2023-01-07    15.000000
7   Cake       2023-01-08    57.000000
8   Cake       2023-01-09     8.849952
9   Cake       2023-01-10    32.799937
10  Cake       2023-01-11    21.000000
11  Cake       2023-01-12    21.000000
12  Cake       2023-01-13    39.000000
13  Cake       2023-01-14    15.000000
14  Cake       2023-01-15     9.000000
15  Cake       2023-01-16     9.000000
16  Cake       2023-01-17    41.949984
17  Cake       2023-01-18    27.000000
18  Cake       2023-01-19    39.000000
19  Cake       2023-01-20    48.000000

In [ ]:
# 4. Is revenue higher on weekdays or weekends?